@use '../../mixins'
@use '../../variables'

.active
    border-bottom: 1px solid variables.$color-blue-primary

.header
    padding: 2rem
    z-index: 99
    position: fixed
    top: 0
    left: 0
    width: 100%

    &-nav
        @include mixins.header__center
        @include mixins.max-width(medium)
            justify-content: space-between
            margin-left: 0
            margin-right: 0
        @include mixins.max-width(large)
            justify-content: space-between
            width: 100%

        &-logo
            width: 180px
            cursor: pointer
            @include mixins.max-width(large)
                width: 180px
            @include mixins.max-width(medium)
                width: 140px
        &-list
            @include mixins.header__center
            gap: 2rem
            list-style: none
            @include mixins.max-width(large)
                display: flex
                width: 100%
                height: 0
                flex-direction: column
                justify-content: space-around
                align-items: center
                position: absolute
                right: 0
                top: 80px
                border-top: 1px solid variables.$color-background-container-tirty
                background-color: variables.$color-background-principal
                padding: 50px
                gap: 3.5rem
                animation: showMenu .7s forwards ease-in-out
            @include mixins.max-width(xsmall)
                gap: 1.5rem

            &-link
                cursor: pointer
                color: variables.$color-white-standard
                text-decoration: none
                font-weight: 400
                line-height: 24.6px
                font-style: normal
                font-size: 1.1rem
                transition: all .2s ease-in-out
                @include mixins.max-width(large)
                    font-size: 1.875rem
                @include mixins.max-width(medium)
                    font-size: 1.4rem

                

.header-nav-list ul li > .active
    border-bottom: 1px solid variables.$color-blue-primary



.header-nav-list-link:hover
    color: variables.$color-blue-secondary



@keyframes showMenu
    0%
        height: 500px
        transform: translateY(-100vh)
        opacity: 0
        z-index: -999

    100%
        height: 500px
        transform: translateY(0)
        opacity: 1

.contain_Menu
    // height: 0
    // opacity: 0
    // transform: translateY(-100vh)
    // transition: 3s forwards ease-in-out
    animation: containMenu .7s forwards ease-in-out

@keyframes containMenu
    0%
        height: 500px
        opacity: 1
        transform: translateY(0)
    100%
        height: 0
        transform: translateY(-100vh)
        opacity: 0

.activeColor
    background-color: variables.$color-background-principal
    transition: all 0.7s ease-in-out
    padding: 1rem
    